
<div class="row">
<% for @j in @myitems %>
<% @mybook = Item.find_by_id(@j.item_id)%>


<div class="col-md-8">
<div class="row">

    <div class="col-md-4">
      <%= image_tag @mybook.image.url, :size=>"200x300" %>
    </div>
    <div class="col-md-8">
      <br/>
      <%= @mybook.item_name %>, Ed. <%= @mybook.edition %><br/>
      <%= @mybook.author %><br/>
      <%= @mybook.publisher %><br/>
      <strong><%= @mybook.price %></strong><br/><br/>

    <u>  <%= link_to "See details", single_item_path(@mybook.id) %></u> <br/><br/>

    <button class="btn btn-primary">
           <%= link_to 'Remove from my cart', single_cart_item_delete_path(@j.id),
                       data: {:confirm => 'Are you sure? This cannot be undone.'}, :method => :delete %>
         </button>

    </div>

</div>

<br/>  <br/>  <br/>

</div>

<% end %>

<% if (@mycart.last.total>0)%>

<div class="col-md-4 cart_details fixedElement">

<h4><strong> Cart details:</strong> </h4><br/>
<h5> Total:  <strong> <%= @mycart.last.total %> BAM </strong></h5>
<h5> Shipping:  <strong> <%= @mycart.last.shipping %> BAM </strong></h5>
<h5><strong>______________________________________________________</strong></h5>
<h5 style="float: right;"> Bill:  <strong> <%= @mycart.last.shipping+@mycart.last.total %> BAM </strong></h5><br/><br/>

<span style="float:right;"> <%= link_to "Continue to pay", addresses_path, {:class=>"btn btn-danger"} %></span>

</div>
<% else %>
<div class="col-md-4">
<h5><strong>_____________________________________</strong></h5><br/>
<h5><strong><center>Your cart is empty</center></strong></h5><br/>


<h5><strong>_____________________________________</strong></h5>
</div>

<% end %>





</div>


<style>
.fixedElement {
    position:fixed;
    top:10%;
    left: 50%;
    width: 30%;
}

</style>
