

<div class="form-group">
<%= form_for Shelf.new, url: {action: "shelfcreate"} do |f| %>

<%=fields_for @book, url: {action: "update_borrow_stack", :id => @book.id} do |j| %>
<%= j.hidden_field :on_stack_buy, value: (@book.on_stack)-1, id:"ime2", class: "form-control"%></br>

  <%= f.hidden_field :user_id, value: current_user.id, id:"ime1", class: "form-control"%>
  <%= f.hidden_field :item_id, value: @book.id, id:"ime1", class: "form-control"%>
  <%= f.hidden_field :reserved, value: true, id:"ime1", class: "form-control"%>
  <%= f.hidden_field :borrowed, value: false, id:"ime1", class: "form-control"%>



  <%= f.submit "Borrow", class:"borrow_btn" %>
<% end %>
<%end%>
</div>
