
<div class="row">

  <% @b=Item.find_by_id(@i.item_id)%>
  <% @u=User.find_by_id(@i.user_id)%>

  <div class="col-md-4">

    <%= image_tag @u.avatar.url, :size=>"200x250" %><br/><br/>
    <h4><strong>User: </strong><strong><%= link_to @u.firstname+' '+@u.lastname, single_user_borrowedlist_path(@u.id)%></strong>,&nbsp; <strong>ID: </strong><%= @u.id %></h4><br/>

      <h4><strong>Requested at: </strong><%= @i.created_at.to_date %></h4><br/>

    <br/><br/><br/>


   </div>


  <div class="col-md-4">
    <%= image_tag @b.image.url, :size=>"250x300" %><br/><br/>
    <strong>Title: </strong><%= @b.item_name %><br/>
    <strong>Author: </strong><%= @b.author %><br/>
    <strong>ISBN: </strong><%= @b.isbn %><br/>
    <u>  <%= link_to "See details", single_item_path(@b.id) %></u> <br/><br/>

   </div>













  <div class="col-md-4">

    <h1 style="float:right;" > <%= render 'approve' %> </h1><br/><br/><br/>
    <h1 style="float:right;" class="btn btn-danger">
       <%= link_to 'DISAPPROVE', disapprove_path(@i.id),
                      data: {:confirm => 'Are you sure? This cannot be undone.'}, :method => :delete %>
                     </h1>


   </div>













</div>
