
  <div class="jumbotron">
    <center>
      <div class="w3-content w3-section" style="max-width:900px">
        <img class="mySlides" src="slider_image_3.jpg" style="width:100%">
        <img class="mySlides" src="slider_image_2.jpg" style="width:100%">
        <img class="mySlides" src="slider_image_4.jpg" style="width:100%">
        <img class="mySlides" src="slider_image_test.jpg" style="width:100%">

      </div>

      <script>
      var myIndex = 0;
      carousel();

      function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
             x[i].style.display = "none";
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}
          x[myIndex-1].style.display = "block";
          setTimeout(carousel, 4000); // Change image every 4 seconds
      }
      </script>

</center>
  </div>



<% for @i in @news %>
<% @n=News.find_by_id(@i.id) %>
<div class="row news_sector">
  <div class="col-md-6">
    <%= image_tag @n.cover_image.url, :size=>"500x400" %>
  </div>

  <div class="col-md-5 offset-md-1">
    <h3> <%= @n.title %> </h3>
    <p> <%= @n.updated_at %> </p>
    <p id="news_body"> <%= raw @n.news_body.truncate(250) %> </p>
    <p style="color: blue;"><%= link_to "Read more...", news_path(@n) %> </p>

  </div>
</div>


<% end %>

<center>
  <%= will_paginate @news %>
</center>

<style>
.news_sector{
  margin-bottom: 5%;
}
#news_body{
  overflow: hidden;
  font-size: 20px;
  font-family: sans-serif;
}
</style>
