<br/>
<ul class="breadcrumb">
  <li class="#"><%= link_to (@book.item_name), single_item_path(@book)%> </li>
  <li><a href="#" id="details_link">Details</a></li>

  <% if (@book.document_file_name!=nil) %>
  <li><%= link_to ("Book Preview"), @book.document.url %></li>
  <% end %>
</ul>
<div class="row">
<div class="col-md-6">
  <br/>
  <%= image_tag @book.image.url, :size=>"500x600" %>

</div>
<div class="col-md-6">
<br/>
<div id="info">
<h3><strong><%=@book.item_name%></strong>, Ed. <strong><%=@book.edition%></strong></h3><br/>
<h3> Author: <strong><%=@book.author%> </strong> </h3><br/>
<h4> Year published: <strong><%=@book.year_published%> </strong></h4><br/>
<h4> Publisher: <strong><%=@book.publisher%></strong> </h4><br/>
<% @l=Language.find_by_id(@book.language_id)%>
<h4> Language: <strong><%=@l.language_name%></strong> </h4><br/>


<h4> Currently available:  <strong><%=@book.on_stack%></strong>  </h4> <br/>
<h4> Currently for purchase:  <strong><%=@book.on_stack_buy%></strong>  </h4> <br/>

<br/>
<h4> ISBN:  <strong><%=@book.isbn %></strong>   </h4> <br/>

<% if (@book.buy==true)%>
<h4 style="float:right; margin-right:20%;"> Price:  <strong><%=@book.price %> BAM</strong>   </h4> <br/>
<hr/>
<% end %>

<% if user_signed_in? %>

<%if (current_user.ismember==true)%>
<%= link_to ("Borrow"), root_path,  { :class => 'borrow_btn'}  %>
<% else %>
<button class="borrow_btn" title="For members only"><del> Borrow </del></button>
<% end %>

<% if (@book.buy==true) %>
<%= render ('cart/cart_buttons') %>
  <%else%>
  <button class="buy_btn"> Not available for purchase </button>
<% end %>

<%else%>
<%= link_to ("Borrow"), new_user_registration_path,  { :class => 'borrow_btn'}  %>
<%= link_to ("Add to my cart"), new_user_registration_path,  { :class => 'add_to_cart_btn'}  %>
<%= link_to ("Buy now"), new_user_registration_path,  { :class => 'buy_btn'}  %>
<% end %>
</div>


</div>
<div id="details">
  <h3><strong><%=@book.item_name%></strong>, Ed. <strong><%=@book.edition%></strong></h3><br/>
  <h3> Author: <strong><%=@book.author%> </strong> </h3><br/>
  <p> <%= @book.description %></p><br/><br/><br/>
  <% @c=Category.find_by_id(@book.category_id)%>
  <% @s=Subcategory.find_by_id(@book.subcategory_id)%>
  <% @t=Tag.find_by_id(@book.tag_id)%>
  <p>Section: <strong><%= @c.category_name %>, <%= @s.subcategory_name %></strong></p><br/>
  <p>Label: <strong><%= @t.tag_name %></strong></p><br/>

</div>



</div>

<br/><br/>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
    $("#details_link").click(function(){
        $("#info").hide();
          $("#details").show();
          return false;
    });

});

</script>


<style>
#details{
  display: none;
}
img:hover{
  opacity: 0.6;
}
.borrow_btn {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background-color:#019ad2;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.borrow_btn:hover {
	background-color:#ffab23;
  color: white;
}
.borrow_btn:active {
	position:relative;
	top:1px;
}


.add_to_cart_btn {
	-moz-box-shadow: 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: 0px 1px 0px 0px #bbdaf7;
	box-shadow: 0px 1px 0px 0px #bbdaf7;
	background-color:#79bbff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.add_to_cart_btn:hover {
	background-color:#378de5;
}
.add_to_cart_btn:active {
	position:relative;
	top:1px;
}



.buy_btn {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background-color:#ffab23;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.buy_btn:hover {
	background-color:#ffab23;
  color: red;
}
.buy_btn:active {
	position:relative;
	top:1px;
}




</style>
