<div class="row">

  <div class="col-md-8">

<div class="form-group">
<%= form_for @item, url: {action: "update", :id => @item.id} do |f| %>
  <h3> Edit: </h3>
  <span class="deletion"> <%= link_to 'Delete this entry', item_delete_path(@item),
              data: {:confirm => 'Are you sure? This cannot be undone.'}, :method => :delete %></span>

    </br></br></br>

  <%= f.text_field :item_name, id:"ime1", class: "form-control", placeholder: "Full name of the book" %></br>
  <%= f.text_field :author, id:"ime2", class: "form-control", placeholder: "Author name" %></br>
  <%= f.text_field :edition, id:"ime2", class: "form-control", placeholder: "Edition/Version" %></br>
  <%= f.text_field :year_published, id:"ime2", class: "form-control", placeholder: "Year published (YYYY)" %></br>
  <%= f.text_field :publisher, id:"ime2", class: "form-control", placeholder: "Publisher" %></br>
  <%= f.text_field :isbn, id:"ime2", class: "form-control", placeholder: "ISBN" %></br>
  <%= f.text_field :on_stack, id:"ime2", class: "form-control", placeholder: "Number of items on stack" %></br>
  <%= f.text_field :price, id:"ime2", class: "form-control", placeholder: "Price (if any)" %></br>
  <%= f.text_area :description, id:"ime2", class: "form-control", placeholder: "Description", rows: 8  %></br>
  Replace the current image: <%= f.file_field :image, id:"ime2", class: "form-control" %></br>


  <div class="dropdown">
  <%= f.collection_select(:category_id, Category.all, :id, :category_name, class: "drops") %>
</div>

<div class="dropdown">
<%= f.collection_select(:subcategory_id, Subcategory.all, :id, :subcategory_name, class: "drops") %>
</div>
<br/>
<div class="dropdown">Language:
<%= f.collection_select(:language_id, Language.all, :id, :language_name, class: "drops") %>&nbsp;&nbsp; <%= link_to "Don't see the languange? Add it here!", lang_create_path %>
</div>
<div class="dropdown">Tag:
<%= f.collection_select(:tag_id, Tag.all, :id, :tag_name, class: "drops") %> <%= link_to "Need more tags? Add them here!", tag_create_path %>
</div>
Allowed to borrow:  &nbsp;&nbsp; <%= f.check_box :borrow %> <br /><br/>
Is for sale?  &nbsp;&nbsp; <%= f.check_box :buy%> <br /><br/>

<br/>

<br/>


  <%= f.submit "Save changes", class:"btn-info btn1" %>


<% end %>



</div>

<br/>
</div>

<div class="col-md-4">
</br></br>
  <%= image_tag @item.image.url, :size=>"350x400" %>
</div>


</div>

<style>
.deletion{
  float: right;
  font-weight: bold;
}
select{
margin-bottom: 4px;
  background-color: rgba(255,255,255,0.2);
  font-size: 18px;
}
.btn1{
  paddng: 15px !important;
  font-size: 18px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}

/* Might want to wrap a span around your checkbox text */
.checkboxtext
{
  /* Checkbox text */
  font-size: 110%;
  display: inline;
}

</style>
