<div class="form-group">
<%= form_for Category.new, url: {action: "create"} do |f| %>
  <label for="ime1">Add new: </label><br/>
  <%= f.text_field :category_name, id:"ime1", class: "form-control", placeholder: "Category abbreviation" %></br>
  <%= f.text_field :fullname, id:"ime2", class: "form-control", placeholder: "Full name of the category" %></br>

  <%= f.submit "Add", class:"btn-info btn1" %>
<% end %>
</div>
<br/>
<div class="form-group">
<div class="col-md-offset-2">
<%= form_for Subcategory.new, url: {action: "new"} do |f| %>
  <%= f.text_field :subcategory_name, id:"ime1", class: "form-control", placeholder: "Subcategory name" %></br>
  <label for="ime2">-> belonging category: </label><br/>
  <div class="dropdown">
  <%= f.collection_select(:category_id, Category.all, :id, :category_name, class: "drops") %>
</div>
<br/>
  <%= f.submit "Add", class:"btn-info" %>
<% end %>
</div>
</div>

<style>
select{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  background-color: white;
  font-size: 18px;
}
.btn1{
  paddng: 15px !important;
  font-size: 18px;
}

</style>
